form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-weight: normal;
}

.form-control {
  display: flex;
  gap: 0.5rem;
}

.form-input {
  flex: 1;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
}

.form-input::placeholder {
  color: #aaa;
}

.form-control .btn {
  cursor: pointer;
  color: #fff;
  background: #8b5cf6;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 1rem;
  text-transform: capitalize;
  white-space: nowrap;
}

.form-control .btn:hover {
  background: #0e7490;
}
