.items {
  margin-top: 2rem;
  display: grid;
  row-gap: 1rem;
}

.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: #e66b6b;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-top: 1.25rem;
}

.clear-btn:hover {
  color: #bb2525;
}

.empty-items {
  text-align: center;
  color: #617d98;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
}
